{% extends '::base.html.twig' %}
{% block body %}
    <h1>accessTokens</h1>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>client</td>
                <td>user</td>
                <td>token</td>
                <td>expiresAt</td>
                <td>expired?</td>
                <td>scope</td>
            </tr>
        </thead>
        {% for accessToken in accessTokens %}
            <tbody>
                <tr>
                    <td>{{ accessToken.id }}</td>
                    <td>{{ accessToken.client.name }} (#{{ accessToken.client.id }})</td>
                    <td>{{ accessToken.user }} (#{{ accessToken.user.id }})</td>
                    <td>{{ accessToken.token }}</td>
                    <td>{{ accessToken.expiresAt }}</td>
                    <td>{{ now.format('U') > accessToken.expiresAt ? 'yes' : 'no' }}
                    <td>{{ accessToken.scope }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    <h1>authCodes</h1>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>client</td>
                <td>user</td>
                <td>token</td>
                <td>redirectUri</td>
                <td>expiresAt</td>
                <td>expired?</td>
                <td>scope</td>
            </tr>
        </thead>
        {% for authCode in authCodes %}
            <tbody>
                <tr>
                    <td>{{ authCode.id }}</td>
                    <td>{{ authCode.client.name }} (#{{ authCode.client.id }})</td>
                    <td>{{ authCode.user }} (#{{ authCode.user.id }})</td>
                    <td>{{ authCode.token }}</td>
                    <td>{{ authCode.redirectUri }}</td>
                    <td>{{ authCode.expiresAt }}</td>
                    <td>{{ now.format('U') > authCode.expiresAt ? 'yes' : 'no' }}
                    <td>{{ authCode.scope }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    <h1>clients</h1>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>name</td>
                <td>randomId</td>
                <td>redirectUris</td>
                <td>secret</td>
                <td>allowedGrantTypes</td>
            </tr>
        </thead>
        {% for client in clients %}
            <tbody>
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.randomId }}</td>
                    <td>{{ client.redirectUris|join(', ') }}</td>
                    <td>{{ client.secret }}</td>
                    <td>{{ client.allowedGrantTypes|join(', ') }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    <h1>refreshTokens</h1>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>token</td>
                <td>expiresAt</td>
                <td>expired?</td>
                <td>scope</td>
            </tr>
        </thead>

        {% for refreshToken in refreshTokens %}
            <tbody>
                <tr>
                    <td>{{ refreshToken.id }}</td>
                    <td>{{ refreshToken.token }}</td>
                    <td>{{ refreshToken.expiresAt }}</td>
                    <td>{{ now.format('U') > refreshToken.expiresAt ? 'yes' : 'no' }}
                    <td>{{ refreshToken.scope }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
